body {
  font-family: Arial;
  background: #f4f6f8;
}

.container {
  width: 400px;
  margin: auto;
  margin-top: 80px;
  background: white;
  padding: 30px;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

.task {
  background: #eee;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
}